@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Movie>

<div class="container mt-3">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th>Edited</th>
                    <th>LentTo</th>
                    <th>CopiedToPlex</th>
                    <th>Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Category?.CategoryName</td>
                        <td>@x.Title</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>
                        <td>@x.Edited</td>
                        <td>@x.LentTo</td>
                        <td>@x.CopiedToPlex</td>
                        <td>@x.Notes</td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
